<p id="notice"><%= notice %></p>


<table>
  <thead>
    <tr>
     
		
			
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<style>
		    .bs-example{
		    	margin: 20px;
		    }
		</style>
		</head>
		<body>
		<div class="bs-example">
		    <!-- Button HTML (to Trigger Modal) -->
		    
    
		    <!-- Modal HTML -->
		    <div id="myModal" class="modal fade">
		        <div class="modal-dialog">
		            <div class="modal-content">
		                <!-- Content will be loaded here from "remote.php" file -->
		            </div>
		        </div>
		    </div>
      <th colspan="3"></th>
    </tr>
  </thead>
  


	
	
<div class="container">
  <table class="table table-hover" style="background-color:#b2bec3">
    <thead>
      <tr>
	      <th>Naziv zadatka</th>
	      <th>Opis zadatka</th>
	      <th>Vrijeme za zadatak</th>
	      <th>Tezina</th>
	      <th>Prioritet</th>
	      <th>Radi se</th>
	      <th></th>
	      <th></th>
	      <th></th>
				
      </tr>
    </thead>
    <tbody>
	    <% @todo_lists.each do |todo_list| %>
			
      <tr>
        <td><%= todo_list.task_title %></td>
        <td><%= todo_list.task_description %></td>
        <td><%= todo_list.task_time %></td>
        <td><%= todo_list.difficulty_level %></td>
        <td><%= todo_list.prioritet %></td>
        <td><%= todo_list.radi_se %></td>
				<td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
        <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
			
			</tr>
				<%end%>
				
      </tr>
      
    </tbody>
  </table>
</div>


