<p id="notice"><%= notice %></p>

<h1>Radi Se</h1>
			<button><%= link_to "to do", todo_lists_path %></button>
			<button><%= link_to "radi se", radi_ses_path %></button>
			<button><%= link_to "uradjeno", uradjenos_path %></button>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @radi_ses.each do |radi_se| %>
      <tr>
        <td><%= link_to 'Show', radi_se %></td>
        <td><%= link_to 'Edit', edit_radi_se_path(radi_se) %></td>
        <td><%= link_to 'Destroy', radi_se, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Radi Se', new_radi_se_path %>
